@keyframes shimmer {
    0% {
      background-position: -200% 0;
    }
    100% {
      background-position: 200% 0;
    }
  }
  
  @keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(5px); }
  }
  
  .shake-animation {
    animation: shake 0.2s ease-in-out;
  }
  

  .custom-button {
    min-width: auto !important;
    padding-left: 8px;
    padding-right: 8px;
  }
  

  .fixed-width {
    width: 500px;
  }


  /* Chat window styles */
  
.chat-window {
  position: fixed;
  bottom: 0;
  right: 20px;
  width: 350px;
  z-index: 1000;
  background-color: white;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}

.chat-window.collapsed {
  height: 46px;
  border-radius: 10px 10px 0 0;
}

.chat-window.expanded {
  height: 400px;
  border-radius: 10px 10px 0 0;
}

.chat-window.maximized {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80%; /* Adjust the width as needed */
  height: 80%; /* Adjust the height as needed */
  transform: translate(-50%, -50%); /* Center the window */
  z-index: 1001; /* Ensure it's above everything else */
  border-radius: 10px; /* Optional: add border radius for aesthetics */
}

.chat-header {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
}

.chat-history {
  height: calc(100% - 86px);
  overflow-y: scroll;
}

.chat-input {
  display: flex;
  border-top: 1px solid #ccc;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
  align-items: center;
}

.message-input {
  flex-grow: 1;
  font-size: 16px;
}

.send-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  white-space: nowrap;
}

.message {
  padding: 8px;
  margin: 10px;
  border-radius: 10px;
  width: fit-content;
  clear: both;
}

.user-message {
  background-color: #007BFF;
  color: white;
  align-self: flex-end;
  float: right;
}

.assistant-message {
  background-color: #E0E0E0;
  color: black;
  align-self: flex-start;
  float: left;
}

.message pre {
  background-color: #2d2d2d;
  color: #f8f8f2;
  padding: 16px;
  border-radius: 8px;
  overflow-x: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  white-space: pre-wrap;
  word-break: break-word;
  margin: 8px 0;
}

.message pre code {
  font-family: 'Courier New', Courier, monospace;
  display: block;
}

.icon-color {
  color: #141414; /* This is an example color that matches Tailwind's text-gray-400 */
  fill: currentColor; /* This ensures that the SVG's fill color is the same as its text color */
}