@keyframes shimmer {
    0% {
      background-position: -200% 0;
    }
    100% {
      background-position: 200% 0;
    }
  }
  
  @keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(5px); }
  }
  
  .shake-animation {
    animation: shake 0.2s ease-in-out;
  }
  

  .custom-button {
    min-width: auto !important;
    padding-left: 8px;
    padding-right: 8px;
  }
  

  .fixed-width {
    width: 500px;
  }


  /* Chat window styles */
  
.chat-window {
  position: fixed;
  bottom: 0;
  right: 20px;
  width: 300px;
  z-index: 1000;
  background-color: white;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}

.chat-window.collapsed {
  height: 46px;
  border-radius: 10px 10px 0 0;
}

.chat-window.expanded {
  height: 400px;
  border-radius: 10px 10px 0 0;
}

.chat-header {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.chat-history {
  height: calc(100% - 86px);
  overflow-y: scroll;
}

.chat-input {
  display: flex;
  border-top: 1px solid #ccc;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
  align-items: center;
}

.message-input {
  flex-grow: 1;
  font-size: 16px;
}

.send-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  white-space: nowrap;
}

.message {
  padding: 8px;
  margin: 10px;
  border-radius: 10px;
  width: fit-content;
  clear: both;
}

.user-message {
  background-color: #007BFF;
  color: white;
  align-self: flex-end;
  float: right;
}

.assistant-message {
  background-color: #E0E0E0;
  color: black;
  align-self: flex-start;
  float: left;
}

