@keyframes shimmer {
    0% {
      background-position: -200% 0;
    }
    100% {
      background-position: 200% 0;
    }
  }
  
  @keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(5px); }
  }
  
  .shake-animation {
    animation: shake 0.2s ease-in-out;
  }
  

  .custom-button {
    min-width: auto !important;
    padding-left: 8px;
    padding-right: 8px;
  }
  

  .fixed-width {
    width: 500px; /* Adjust this value to your needs */
  }